<!doctype html>
<html>
{{- partial "head.html" . -}}
<body class="bg-gray-100">
  <div class="flex flex-col h-screen justify-between">
    {{- partial "header.html" . -}}
    <main class="mb-auto">
      <div class="md:flex max-w-screen-xl m-auto text-justify">
        <div class="w-full md:w-3/4">
          <div class="md:hidden px-8 py-5 bg-white m-3 rounded-lg">
            <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
            <input class="pl-9 h-9 w-full rounded-lg border-2 border-gray-200" name="q" results="0" placeholder="Search" style="background: url('/sprite.png') no-repeat 0px -52px;" type="text">
            <input name="sitesearch" value="https://shami.blog" type="hidden"></form>
          </div>
        {{- block "main" . }}{{- end }}
      </div>
        {{- partial "sidebar.html" . -}}
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </div>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>
