<!doctype html>
<html>
  {{- partial "head.html" . -}}
<body class="bg-gray-100">
  <div class="flex flex-col h-screen justify-between">
    {{- partial "header.html" . -}}
    <main class="mb-auto">
      <div class="sm:flex max-w-screen-xl m-auto text-justify">
        <div class="w-full sm:w-3/4">
          <div class="sm:hidden px-8 py-5 bg-white m-3 rounded-lg">
            <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
            <input class="pl-9 h-9 w-full rounded-lg border-2 border-gray-200" name="q1" results="0" placeholder="Search" style="background: url('/sprite.png') no-repeat 0px -52px;" type="text">
            <input name="sitesearch" value="https://shami.blog" type="hidden"></form>
          </div>
          <div class="px-8 py-5 bg-white m-3 rounded-lg">
            <p class="text-3xl font-extralight">Expand a Zpool</p>
            <p class="text-sm mb-1.5">2021-09-01 by Mohammad H. Al-Shami</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam doloribus voluptatem nisi quibusdam molestias odio quod praesentium, ratione minus quas ducimus, eius dicta voluptatum quisquam minima sunt perspiciatis eveniet. Accusamus.
            </p>
            </div>

          <div class="px-8 py-5 bg-white m-3 rounded-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam doloribus voluptatem nisi quibusdam molestias odio quod praesentium, ratione minus quas ducimus, eius dicta voluptatum quisquam minima sunt perspiciatis eveniet. Accusamus.
            <div class="aspect-w-16 aspect-h-9">
              <iframe src="https://www.youtube.com/embed/8Q03RKacDjU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    {{- partial "sidebar.html" . -}}

      </div>
    </main>
    {{- partial "footer.html" . -}}
  </div>
</body>
</html>
