{{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
{{ $first := sub $pag.PageNumber 2 }}
{{ $last := add $pag.PageNumber 2 }}
<div class="bg-white p-4 flex items-center flex-wrap justify-center">
  <nav aria-label="Page navigation">
	<ul class="list-none inline-flex">
	<li class="btn-paginate border-r-0 rounded-l-lg focus:shadow-outline hover:bg-blue-100 hidden lg:list-item {{ if $pag.HasPrev }}hover:bg-blue-100{{ else }}pointer-events-none{{ end }}"><a href="{{ $pag.First.URL }}">First</a></li>
    <li class="btn-paginate border-r-0 focus:shadow-outline hover:bg-blue-100 lg:rounded-none rounded-l-lg {{ if not $pag.HasPrev }}pointer-events-none{{ end }}">{{ if $pag.HasPrev }}<a href="{{ $pag.Prev.URL }}">Prev</a>{{ else }}Prev{{ end }}</li>

	<li class="btn-paginate border-r-0 focus:shadow-outline hidden sm:list-item {{ if $pag.HasPrev }}hover:bg-blue-100{{ else }}pointer-events-none bg-blue-300{{ end }}"><a href="{{ $pag.First.URL }}">1</a></li>
	{{ if gt $first 2 }}
	<li class="btn-paginate border-r-0 focus:shadow-outline hidden sm:list-item">...</li>
	{{ end }}

	{{ range $pag.Pagers }}
	{{ if and (gt .PageNumber 1) (ge .PageNumber $first) (lt .PageNumber $last) (lt .PageNumber $pag.TotalPages) }}
	<li class="btn-paginate border-r-0 focus:shadow-outline hidden sm:list-item {{ if ne . $pag }}hover:bg-blue-100{{ else }}pointer-events-none bg-blue-300{{ end }}"><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
	{{ end }}
	{{ end }}

	{{ if lt $last $pag.TotalPages }}
	<li class="btn-paginate border-r-0 focus:shadow-outline hidden sm:list-item">...</li>
	{{ end }}
	<li class="btn-paginate border-r-0 focus:shadow-outline hidden sm:list-item {{ if $pag.HasNext }}hover:bg-blue-100{{ else }}pointer-events-none bg-blue-300{{ end }}"><a href="{{ $pag.Last.URL }}">{{ $pag.TotalPages }}</a></li>

    <li class="btn-paginate border-r-1 lg:border-r-0 focus:shadow-outline lg:rounded-none rounded-r-lg {{ if $pag.HasNext }}hover:bg-blue-100{{ else }}pointer-events-none{{ end }}">{{ if $pag.HasNext }}<a href="{{ $pag.Next.URL }}">Next</a>{{ else }}Next{{ end }}</li>
	<li class="btn-paginate rounded-r-lg focus:shadow-outline hover:bg-blue-100 hidden lg:list-item {{ if $pag.HasNext }}hover:bg-blue-100{{ else }}pointer-events-none{{ end }}"><a href="{{ $pag.Last.URL }}">Last</a></li>
	</ul>
  </nav>
</div>
