<div class="w-full md:w-1/4 rounded-lg">
  <div class="hidden md:block px-8 py-5 bg-white m-3 rounded-lg">
    <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
    <input class="pl-9 h-9 w-full rounded-lg border-2 border-gray-200" name="q" results="0" placeholder="Search" style="background: url('/sprite.png') no-repeat 0px -52px;" type="text">
    <input name="sitesearch" value="https://shami.blog" type="hidden"></form>
  </div>
  <div class="px-8 py-5 bg-white m-3 rounded-lg">
    <p class="text-xl">About Me</p>
    <p class="flex justify-center">
    <img src="/profile.jpg" alt="" class="rounded-full">
    </p>
    <p>Dev gone Ops gone DevOps. Any views expressed on this blog are mine alone and do not necessarily reflect the views of my employer. </p>
    <p class="flex justify-center">
      <a href="https://twitter.com/mohshami" target="_blank"><img src="/twitter.png" width="48px"></a>
      <a href="https://linkedin.com/in/mohshami" target="_blank"><img src="/linkedin.png" width="48px"></a>
      <svg viewBox="0 0 24 24" aria-hidden="true" class="r-1nao33i r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
  </p>
  </div>
  <div class="px-8 py-5 bg-white m-3 rounded-lg">
    <p class="text-xl">Recent Posts</p>
<ul class="ml-0">
{{- range ( where site.RegularPages "Section" "post" | first 5 ) }}
<li class="border-b border-dotted border-slate-400 mb-2 truncate ..."><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
{{ end }}
</ul>
  </div>
</div>
