<div class="w-full md:w-1/4 rounded-lg">
  <div class="hidden md:block px-8 py-5 bg-white m-3 rounded-lg">
    <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
    <input class="pl-9 h-9 w-full rounded-lg border-2 border-gray-200" name="q" placeholder="Search" style="background: url('/sprite.png') no-repeat 0px -52px;" type="text">
    <input name="sitesearch" value="https://shami.blog" type="hidden"></form>
  </div>
  <div class="px-8 py-5 bg-white m-3 rounded-lg">
    <p class="text-xl">About Me</p>
    <p class="flex justify-center">

    <img srcset="/profile.jpg 2x,
             /profile_small.jpg 1x"
     src="/profile.jpg"
     alt="" class="rounded-full">

    </p>
    <p>Dev gone Ops gone DevOps. Any views expressed on this blog are mine alone and do not necessarily reflect the views of my employer. </p>
    <p class="flex justify-center">
      <a href="https://twitter.com/mohshami" target="_blank"><img src="/twitter.png" width="48" alt="twitter"></a>
      <a href="https://linkedin.com/in/mohshami" target="_blank"><img src="/linkedin.png" width="48" alt="linkedin"></a>
  </p>
  </div>
  <div class="px-8 py-5 bg-white m-3 rounded-lg">
    <p class="text-xl">Recent Posts</p>
<ul class="ml-0">
{{- range ( where site.RegularPages "Section" "post" | first 5 ) }}
<li class="border-b border-dotted border-slate-400 mb-2 truncate"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
{{ end }}
</ul>
  </div>
</div>
