{{ if len .Params | eq 1 }}
{{ $.Scratch.Set "hAspect" "aspect-h-9" }}
{{ $.Scratch.Set "wAspect" "aspect-w-16" }}
{{ $.Scratch.Set "videoID" (.Get 0) }}
{{ else }}
{{ $.Scratch.Set "wAspect" (.Get "wAspect") }}
{{ $.Scratch.Set "hAspect" (.Get "hAspect") }}
{{ $.Scratch.Set "videoID" (.Get "videoID") }}
{{ end }}

<div class='{{ $.Scratch.Get "wAspect" }} {{ $.Scratch.Get "hAspect" }}'>
    <iframe src='https://www.youtube.com/embed/{{ $.Scratch.Get "videoID" }}' allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
